*.pyc
*.so
*.o
*~
#*#
.#*
.DS_Store
.idea
cpcsg/*py
cpcsg/testbuild/
test/*gdml
test/*gmad
test/*stl
docs/build*/*
*.class
*.java
FM.pdf
*.g4e
tests/*.py
*.tar.gz
*.log
*.gdml
*.gmad
*.pickle
build
dist
*.tokens
pyg4ometry.egg-info
gdmlLoader
vtk_cpp
vulkan_cpp
opencascade
*.aux
pyg4ometry.pdf
*.spl
*.synctex.gz
*FCStd1